/* .container{
}

.box{
   margin-top: 10%;
   margin-left: 40%;
   height: 700PX;
   width: 450PX;
   background-color: rgb(207, 219, 243);
}
.inputData input{
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 25px;
    width: 70%;
    height: 60PX;
    text-align: center;
    background-color: rgb(164, 190, 240);

}
.center{
    text-align: center;
}

.Degree{
    size:1000px;
}
.Degree span{
    font-size: 30px;
}
.middle{
    text-align: center;
    border: 2px solid red;
} */